# taking input from user

In [179]:
first_name = input('First name: ')
last_name = input('Last name: ')
print(f'Full name: {first_name} {last_name}')

First name: Farhan
Last name: Qureshi
Full name: Farhan Qureshi

## Strings

In [3]:
mystring = "Hello World"

In [4]:
mystring

'Hello World'

In [6]:
mystring[-3]

'r'

In [8]:
#slicing
#to get sub-section of a string
mystring = 'abcdefghijk'

In [9]:
mystring

'abcdefghijk'

#### Slicing of strings

In [12]:
#get def from the string
mystring[3:6]

'def'

In [22]:
x = """this is a long string.
a quick brown fox jumps
over the lazy dog"""

In [23]:
print(x)
x.split('\n')

this is a long string.
a quick brown fox jumps
over the lazy dog

['this is a long string.', 'a quick brown fox jumps', 'over the lazy dog']

#### Reversing a String with Slicing
A string can be reversed with slicing with negative 1 (-1) step value. e.g. strp[::-1].
-1 indicates that the string will start traversing from the end.

In [4]:
my_str = "The quick brown fox jumps over the lazy dog."
my_str[::-1]

'.god yzal eht revo spmuj xof nworb kciuq ehT'

In [30]:
[0]*3

[0, 0, 0]

### Using format and f-strings

In [38]:
var = 'hello'

print(f'{var} world')

hello world

In [24]:
q = 'quick'
b = 'brown'
f = 'fox'

In [31]:
print('A {} {} {}'.format(b,f,q))

A brown fox quick

In [33]:
print('A {q} {b} {f}'.format(b=b,f=f,q=q))

A quick brown fox

In [36]:
print('A {1} {0} {1}'.format(b,f,q))

A fox brown fox

In [29]:
print('A {q} {b} {f}'.format(b='brown',f='fox',q='quick'))

A quick brown fox

In [32]:
print('A {q} {q} {q}'.format(b='brown',f='fox',q='quick'))

A quick quick quick

### Lists

Lists are ordered sequences that hold objects belonging to same or varying types.

A list has objects enclosed within square [ ] brackets and those objecst are separated using commas from one and another.

Just like strings, lists also support indexing and slicing.

In [41]:
my_list = ["hi", 1,2,'a', 3.14]

In [45]:
my_list = ['STRING', 22, 'etc'] #overwrites the first assignment

In [51]:
my_list

['STRING', 22, 'etc']

#### Indexing lists
Indexing and slicing for lists work in a similar way as it does for strings.

Each object in a list has an index.

In [83]:
my_list = ['one','two','three','four','five','six']

In [53]:
my_list

['one', 'two', 'three', 'four', 'five', 'six']

In [55]:
#print everything from index 1 all the way till the end
my_list[1:]

['two', 'three', 'four', 'five', 'six']

In [56]:
#print everything except the last element
my_list[:-1]

['one', 'two', 'three', 'four', 'five']

#### Concatinating lists
Lists can also be concatinated just like strings using plus + operator.

In [57]:
my_second_list = ['seven','eight','nine','ten']

In [58]:
my_second_list

['seven', 'eight', 'nine', 'ten']

In [61]:
#concat both the strings
conc_list = my_list + my_second_list

In [63]:
conc_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

#### Playing around with lists indices
Lists elements can be accessed just like we acess strings elements. In case of strings, each index is a character but in case of list, each index is an object.

##### The difference here is, string indices are immutable but list indices can be directly changed.

In [84]:
my_list

['one', 'two', 'three', 'four', 'five', 'six']

In [67]:
#let's replace the first element of the list
my_list[0] = "I am eleven. I just replaced 'one'"
my_list

["I am eleven. I just replaced 'one'",
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven']

#### Inserting and popping (removing) an item from a list

In [85]:
#inserting
my_list.append('seven')
my_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [86]:
#popping
my_list.pop()

'seven'

Each time a pop() function is called, it pops and returns the last element in the list.

For an empty list, calling the pop() function returns an IndexError

##### Notice that how the pop function when called outputs the popped value/object only rather than displaying the updated list. We can print the list separately to see our results.

In [75]:
#printing the list aftering poppping the last element.
my_list

['one', 'two', 'three', 'four', 'five', 'six']

To remove a specific item from the list, we just provide the index of that item to the pop function.

In [88]:
#for instance if our list looks like ['one', 'two', 'three', 'four', 'five', 'six']
my_list = ['one', 'two', 'three', 'four', 'five', 'six']

#calling pop(2) will pop/remove 'three' from the list and return 'three' as a result
my_list.pop(2)

'three'

In [89]:
#let's print the new list after pop

my_list

['one', 'two', 'four', 'five', 'six']

#### Sorting a list
using list.sort() function (void return type) we can sort a list. By default a list gets sorted in ascending order based off the ASCII values of the list elements.

##### Note: All elements must belong to same category i.e. either numbers or characters/strings. Varying categories cannot coexist to be sorted.

In [116]:
test_list = ['hello', 'how', 'are', 'you', 'doing','?']
print(test_list)
test_list.sort()
print(test_list)

['hello', 'how', 'are', 'you', 'doing', '?']
['?', 'are', 'doing', 'hello', 'how', 'you']

In [114]:
my_list = ['d','j','b','z','1','22','t']
print(my_list)
my_list.sort()
print(my_list)

['d', 'j', 'b', 'z', '1', '22', 't']
['1', '22', 'b', 'd', 'j', 't', 'z']

### in-place functions
- functions that don't have a return type and they modify the input object directly.
- e.g: sort() function or reverse() function.

Since the list.sort() function has not return type sorts and modifys the original list, we can use inbuilt sorted(list) function to get results without modifying the original list.

In [2]:
original_list = ['d','j','b','z','1','22','t']
sorted_list = sorted(original_list)

In [112]:
print(original_list)
print(sorted_list)

['d', 'j', 'b', 'z', '1', '22', 't']
['1', '22', 'b', 'd', 'j', 't', 'z']

In [117]:
original_list.reverse()

In [123]:
original_list.sort()

In [124]:
original_list

['1', '22', 'b', 'd', 'j', 't', 'z']

In [8]:
original_list

['d', 'j', 'b', 'z', '1', '22', 't']

#### Reverse sorting a list
We can either use list.sort() method to sort a list or in-built sorted() function as well.
To reverse a list, we pass an argument "reverse = True". This works for both mentioned methods.
e.g: list.sort(reverse = True)
    or sorted(your_list,reverse = True)
by default, reverse value is always False

In [9]:
sorted(original_list, reverse=True)

['z', 't', 'j', 'd', 'b', '22', '1']

In [10]:
original_list

['d', 'j', 'b', 'z', '1', '22', 't']

In [15]:
original_list.pop()

'z'

In [17]:
original_list.append('suh')

In [19]:
original_list.insert(2,'gfkljh asdf')

In [20]:
original_list

['d', 'j', 'gfkljh asdf', 'b', 'suh']

In [21]:
original_list.pop(2)

'gfkljh asdf'

In [22]:
original_list

['d', 'j', 'b', 'suh']

# Dictionaries
Dictionaries are unordered objects' mappings. Unlike lists, dictionaries use key names instead of indices to grab location of an object. syntax sample: {'key name' : 'value xyz'}.

Also, dictionaries are enclosed within curley braces { } instead of square brackets [ ].

Dictionaries can hold varying datatypes/objects.

In [24]:
prices_lookup = {'apples':'2.99', 'oragnes':'1.99','milk':'5.80'}

In [26]:
prices_lookup

{'apples': '2.99', 'oragnes': '1.99', 'milk': '5.80'}

#### Accessing indices of dictionary keys

1. Get a list of all the keys in a dict.:

        dictionary_name.keys()

2. Convert the dict_keys into a normal list:

        keys_list = list(dictionary_name.keys())
        
3. Using standard index access method, we can access any item from the keys list:

        e.g: keys_list[0]

In [38]:
list_of_keys = list(prices_lookup.keys())

In [39]:
list_of_keys[0]

'apples'

In [40]:
print(f"Price for {list_of_keys[0]} = " + prices_lookup['apples'])

Price for apples = 2.99

In [44]:
#testing varying datatypes
my_dictionary = {'apples':2.99, 'oragnes':'1.99'}
my_dictionary

{'apples': 2.99, 'oragnes': '1.99'}

In [48]:
#accessing a list element within a dictionary
my_dictionary_2  = {'apples':2.99, 'oragnes':'1.99', 'items':['cake','egg']}
my_dictionary_2['items'][1]

'egg'

We can also have nested dictionaries (just like lists)

In [52]:
#accessing elements of a nested dict
my_nested_dictionary = {'apples':2.99, 'oragnes':'1.99', 'items':['cake','egg'], 'nested_dict':{'ram':'16gb','cpu':'i7','gpu':'rtx 3080'}}
my_nested_dictionary['nested_dict']['ram']

'16gb'

#### Inserting an item to a dictionary
1. Use index access syntax to name the key. Since a dictionary is unorderd, we don't need to specify the location within the dictionary.

2. Using = operator insert the desired value for that specific key.

3. e.g:

        my_dictionary = {'apples':2.99, 'oragnes':'1.99'}
        my_dictionary['bananas'] = '3.99'

In [56]:
my_dictionary = {'apples':2.99, 'oragnes':'1.99'}
#print the dictionary before inserting the new item
print(my_dictionary)
my_dictionary['bananas'] = '3.99'

{'apples': 2.99, 'oragnes': '1.99'}

In [58]:
#print the dictionary after inserting the new item
print(my_dictionary)

{'apples': 2.99, 'oragnes': '1.99', 'bananas': '3.99'}

key values can also be overwritten using the same method

### Converting a dictionary into a list
use list() function to convert any object into a list

In [59]:
my_dictionary

{'apples': 2.99, 'oragnes': '1.99', 'bananas': '3.99'}

In [60]:
my_dictionary.values()

dict_values([2.99, '1.99', '3.99'])

In [61]:
list(my_dictionary.values())

[2.99, '1.99', '3.99']

In [63]:
#store the new list into a variable
list_dict = list(my_dictionary.values())
list_dict

[2.99, '1.99', '3.99']

In [64]:
type(list_dict)

list

#### Different types of dictionary access functions:

1. dict.keys() -> returns a list of dictionary keys.

2. dict.values() -> returns a list of dictionary keys' values.

3. dict.items() -> returns everything within a dictionary including keys and values in form of a tuple.

# Tuples
- Tuples are just like lists but instead of square [ ] brackets they use parenthesis ( )
- Tuples are immutable just like strings
- Can have carying object types (including lists and dictionaries)
- Since tuples are immutable, they don't have any functions/methods which can change/modify their elements.
    - The only two methods a tuple object type can have are 1. index 2. count

In [77]:
my_tuple = ('a','g','b','d')
my_tuple.count('a')
my_tuple.index('a')

0

# Sets
A set is a collection of non-repeating elements.

A set is enclosed within curly braces { } just like a dictionary but a dictionary can have repeating elements.

To insert a whole list into a set, we use set.update(list) method. set.add(value) can only insert a singular unit into a set.

All the items inserted into a set get sorted in ascending order by default.

In [81]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)

In [82]:
my_set

{1, 2, 3}

In [83]:
my_set.add(1)

In [84]:
my_set_list = [1,1,2,5,6,7,5,4,4,1,1,2,3,3,6,6,7,4,8,8,7,9,9]
my_set_list

[1, 1, 2, 5, 6, 7, 5, 4, 4, 1, 1, 2, 3, 3, 6, 6, 7, 4, 8, 8, 7, 9, 9]

In [85]:
#cast the above list into a set
set(my_set_list)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [86]:
my_set_list_2 = [10,11,11,11,13,13,10,10,22,22,12,12,18,18]
my_set_list_2

[10, 11, 11, 11, 13, 13, 10, 10, 22, 22, 12, 12, 18, 18]

In [87]:
my_set_2 = set()

In [91]:
my_set_2.update(my_set_list)

In [92]:
my_set_2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
my_set_2.update(my_set_list_2)

In [94]:
my_set_2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 18, 22}

In [95]:
set('Mississippi')

{'M', 'i', 'p', 's'}

# Boolean

Conditional operators (True, Fales, >, <, ==, >=, <=)

In [96]:
1 > 2

False

In [97]:
1 == 1

True

In [98]:
1 >= 1

True

# Files

In [101]:
#create a text file within the root of our script/project

##### To get the path of your current working directory use command: pwd
##### When using the pwd command, make sure there is no other text besides pwd

To write your text into a text file using the following syntax, make sure all of this is within the same cell and aslo, there is no extra chunk of code besides:

    %%writefile file_name.extension
    your_text
    which can
    be in multiple
    lines.
    
This is only works with Jupyter Notebook.

In [108]:
pwd

'C:\\Users\\mfarh'

In [23]:
%%writefile my_file.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting my_file.txt

### Opening an existing file

In [1]:
my_file_stream = open('my_file.txt')

In [2]:
my_file_stream.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [3]:
my_file_stream.read()

''

The reason why re-reading a file stream returns an empty string is because there is a cursor/seek that reads a file. When read() function is called, the cursor reaches towards the end of the file. And that's why when read() funciton is called again, the cursor attemps to read the file from the last cursor position onwards.

To restart the cursor location, use following code string:

    file_stream.seek(0)

In [6]:
my_file_stream.seek(0)

0

Another approach to efficiently re-read a file without using seek() is to store the read() call into a varaiable and use the varaible where needed.

    e.g.:
        my_file_var = file_stream.read()

In [7]:
my_file_var = my_file_stream.read()

In [8]:
my_file_var

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [9]:
type(my_file_var)

str

### Reading Each Row of a File as an Individual List Item
To achieve this we use readlines() method with the file stream.

In [13]:
#making sure file read cursor is at the beginning:
my_file_stream.seek(0)

0

In [14]:
list_from_file = my_file_stream.readlines()

In [15]:
list_from_file

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [16]:
type(list_from_file)

list

In [19]:
my_file_stream.close()

### File Locations
If a file is not in the same location as of our current work directory, use the file's full path with double back slashes:

        e.g:
            myfile = open("C:\\users\\user1\\my_file.txt")

### File Reading Summary

    step 1. Create a file:
            %%writefile file.txt
            A quick brown
            fox jumps
            over the
            lazy dog
           
    Make sure there is nothing else above %%writefile in that cell. Any text below %%writefile gets written into the file.
    
    step 2. Open a file stream and store it in a variable using open() method:
            
                file_stream = open('file.txt')
                
    step 3. initialize a variable using read() or readlines() function to read contents of the file.
                var = file_stream.read() #read() function reads all the contents of the file into a single string.
                                                
                                                OR
                                                
                var = file_stream.readlines() #readlines() function treats each new line as a list item.
             
            NOTE: each time read() or readlines() fucntion is called, the file cursor reaches all the way till the end of
            the file. So, if without resetting the cursor postion, if read() function is called, it just returns an
            empty string.
            
            Use seek(0) function to reset the cursor postion:
                file_stream.seek(0)
 
    step 4. To avoid closing a stream each time after opening it, use following code instead:
    
                with open('file.txt') as file_stream:
                    contents = file_stream.readlines()

In [17]:
with open('my_file.txt') as file_stream:
    contents = file_stream.readlines()

In [18]:
contents

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

### Writing to Existing Files
To write into files, we have multiple mode options for open function:

            open('file.txt',mode='w') # or mode = 'a'

    1. 'w'   -> which overwrites an existing file or creates a new one if not existing already.
    2. 'a'   -> which appends provided data towards the end of an existing file
    3. 'r'   -> read only mode
    4. 'r+'  -> read and write
    5. 'w+'  -> write and read, overwrites existing files or creates a new file if not existing already in that directory.
By default when open() function is called, the mode value is set to 'r' which means read.

In [21]:
#read only mode
with open('my_file.txt',mode = 'r') as file_stream_read:
    print(file_stream_read.read())

Hello this is a text file
this is the second line
this is the third line

In [24]:
#append mode
with open('my_file.txt',mode = 'a') as file_stream_read:
    file_stream_read.write('\nthis is the newly added fourth line')

In [25]:
#reading the file again after appending
with open('my_file.txt',mode = 'r') as file_stream_read:
    print(file_stream_read.read())

Hello this is a text file
this is the second line
this is the third line

this is the newly added fourth line

In [26]:
#write mode
with open('new_file.txt',mode='w') as s:
    s.write('NEWLY CREATED FILE WITH TEXT!')

In [27]:
#read the new created file
with open('new_file.txt',mode='r') as r:
    print(r.read())

NEWLY CREATED FILE WITH TEXT!

# for loop
used to iterate through elements within a data structure

In [26]:
fruits_list  =  ["apple",  "banana",  "orange",  "grape",  "mango",  "kiwi",  "guava",  "peach",  "plum",  "apricot"]
i = 0
for x in fruits_list:
    if i%2==1:
        print(x)
    i = i + 1

banana
grape
kiwi
peach
apricot

#### Executing a For loop in reverse order
for loop syntax:
    **for** <i><u>iterator</u></i> **in** <i><u>itertable object</u></i>
Just like slicing, an iterable object in a loop can take 3 optional parameters i.e. [start,end,jump] <br>
To execute a for loop in reverse order, we input a -1 for jump parameter.

In [27]:
for i in fruits_list[::-1]:
    print (i, end = '\t')

apricot	plum	peach	guava	kiwi	mango	grape	orange	banana	apple

In [5]:
rng = 17
for i in range(int(rng/2)):
    print ('*'*i)
for i in range(int(rng/2),0,-1):
    print ('*'*i)

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

## Unpacking with For Loops
Tuple unpacking is used to access tuple items within a list or any other data structure.

Tuple unpacking uses identical structure to that of a tuple with a for loop iterator. i.e.:
    
    my_list = [(1,2),(3,4)]
    for (a,b) in my_list:

Notice how the iterator (a,b)'s structure matches the strcuture of each tuple item within the list.

In [38]:
my_list = [(1,2),(3,4),(5,6),(7,8),(9,10)]

In [39]:
my_list

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [40]:
#traversing each list item (each tuple pair in this case)
for items in my_list:
    print(items)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [42]:
#traversing each tuple pair item individually
for first,second in my_list:
    print(first)
    print(second)

1
2
3
4
5
6
7
8
9
10

### iterating dictionaries with for loop

In [43]:
d = {'k1':1,'k2':2,'k3':3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [53]:
#by using a standard for loop syntax, for a dictionary, we can only access the keys, but not the values
for i in d:
    print(i)

k1
k2
k3

In [57]:
#to access values, we use dictionary.values() function.
for i in d.values():
    print(i)

1
2
3

In [65]:
#to traverse both, keys and values within for loop, we use fucntion dictionary.items() which returns a tuple.
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [70]:
#using tuple unpacking we can access individual items in a tuple
for i,j in d.items():
    print(f'key {i} has value {j}')

key k1 has value 1
key k2 has value 2
key k3 has value 3

# while loops
loop a piece of code as long as a boolean condition is true.<br>
while True:
    do something
<br>
while loop can also pair with an else block. else block is used to execute a piece of code when the while condition is/goes False.

In [77]:
a = 1
b = 5

while a <= 5:
    print (f'{a} is smaller than or equal to {b}')
    a+=1
else:
    print(f'{a} is not smaller than {b}')

1 is smaller than or equal to 5
2 is smaller than or equal to 5
3 is smaller than or equal to 5
4 is smaller than or equal to 5
5 is smaller than or equal to 5
6 is not smaller than 5

In [78]:
fruits_list

['apple',
 'banana',
 'orange',
 'grape',
 'mango',
 'kiwi',
 'guava',
 'peach',
 'plum',
 'apricot']

In [83]:
for i in fruits_list:
    if i == 'kiwi':
        print('Found a kiwi')
    else:
        print(f"still looking for kiwi. Found {i} instead.")

still looking for kiwi. Found apple instead.
still looking for kiwi. Found banana instead.
still looking for kiwi. Found orange instead.
still looking for kiwi. Found grape instead.
still looking for kiwi. Found mango instead.
Found a kiwi
still looking for kiwi. Found guava instead.
still looking for kiwi. Found peach instead.
still looking for kiwi. Found plum instead.
still looking for kiwi. Found apricot instead.

In [91]:
for index,obj in enumerate(fruits_list):
    print(f'{obj} \tis \tlocated \tat \tposition \t{index}')

apple 	is 	located 	at 	position 	0
banana 	is 	located 	at 	position 	1
orange 	is 	located 	at 	position 	2
grape 	is 	located 	at 	position 	3
mango 	is 	located 	at 	position 	4
kiwi 	is 	located 	at 	position 	5
guava 	is 	located 	at 	position 	6
peach 	is 	located 	at 	position 	7
plum 	is 	located 	at 	position 	8
apricot 	is 	located 	at 	position 	9

### break, continue, pass

**break** breaks out of current loop execution<br>
**continue** goes to the beginning of current loop disregarding any code block/chunk below it.<br>
**pass** does nothing

In [105]:
#pass
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    if fruit == "banana":
        continue
    else:
        print(fruit)
    print(f'{fruit} found')

apple
apple found
cherry
cherry found

In [106]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    if fruit == "banana":
        pass
    else:
        print(fruit)
    print(f'{fruit} found')

apple
apple found
banana found
cherry
cherry found

# generate a range of numbers list

In [107]:
ranged_list = list(range(0,10))

In [108]:
ranged_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
#generate a list of even numbers
start = input()
stop = input()

1
2

## enumerate - getting an index of an item within a data structure sequence

In [112]:
#getting index without enumerate:
i = 0
for j in fruits_list:
    print(f'{j} is at index {i}')    
    i=i+1

apple is at index 0
banana is at index 1
orange is at index 2
grape is at index 3
mango is at index 4
kiwi is at index 5
guava is at index 6
peach is at index 7
plum is at index 8
apricot is at index 9

In [119]:
#using enumerate
for i,j in enumerate(fruits_list):
    print(f'{j} is at index {i}')

apple is at index 0
banana is at index 1
orange is at index 2
grape is at index 3
mango is at index 4
kiwi is at index 5
guava is at index 6
peach is at index 7
plum is at index 8
apricot is at index 9

### zip function - zips together two lists (opposite of enumerate)

In [126]:
list_a = ['a','b','c','d',None]
list_b = ['1','2','3','4','5']
for list_a_item, list_b_item in zip(list_a,list_b):
    print(f'list A item {list_a_item} corresponds to list B item {list_b_item}\n')

list A item a corresponds to list B item 1

list A item b corresponds to list B item 2

list A item c corresponds to list B item 3

list A item d corresponds to list B item 4

list A item None corresponds to list B item 5

**both, enumerate and zip will iterate the for loop for whatever is the shortest length of the provided iterable object.**

## the 'in' keyword
in can also be used as a conditional operator which returns either True or False to check if an item exists within an iterable object.

In [133]:
if 'x' in 'xyz':
    print('x found')

x found

In [141]:
print(fruits_list, end = '\t')
if 'kiwi' in fruits_list:
    print('\n\nkiwi found')

['apple', 'banana', 'orange', 'grape', 'mango', 'kiwi', 'guava', 'peach', 'plum', 'apricot']

kiwi found

### min and max fucntions
min(iterable object)<br>
max(iterable object)

In [155]:
num_list = [11,27,54,9,23,44,5,91,20,23,38,72]
print(f'the min value in the list is:\t{min(num_list)}\nthe max value in the list is:\t{max(num_list)}')

the min value in the list is:	5
the max value in the list is:	91

# random library
an in-built library with random operations mostly used to generate random numbers or series.

#### shuffle( )

In [161]:
#shuffling/scrambling a list
from random import shuffle
num_list = [5, 9, 11, 20, 23, 23, 27, 38, 44, 54, 72, 91]
print(f'list before shuffle \t{num_list}\n')
shuffle(num_list)
print(f'list after shuffle \t{num_list}')

list before shuffle 	[5, 9, 11, 20, 23, 23, 27, 38, 44, 54, 72, 91]

list after shuffle 	[20, 5, 23, 72, 27, 54, 23, 11, 38, 9, 44, 91]

#### randint(lower range, upper range)
random integer

In [164]:
from random import randint
num_list

[20, 5, 23, 72, 27, 54, 23, 11, 38, 9, 44, 91]

In [175]:
print(randint(1,100))

66

In [178]:
#print 5 random integers between two numbers taken from a user
l = int(input('Enter lower range: '))
u = int(input('Enter upper range: '))
for i in range(5):
    print(randint(l,u))

Enter lower range: 0
Enter upper range: 100
37
69
66
32
50

# List comprehensions
<br>
List comprehensions are used to create/generate a list without using loops.
<br>general syntax<br>


        [expression for item in iterable]            
                            or            
        [expression for item in iterable if condition]

In [1]:
#e.g.
#Using the conventional for loop method,
#if we want to create a list having each element as each letter from string "hello"

str1 = "hello"
mylist = []
for letter in str1:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [2]:
#NOW USING LIST COMPREHENSION
str2 = "hello_world"
mylist2 = [letter for letter in str2]

In [3]:
mylist2

['h', 'e', 'l', 'l', 'o', '_', 'w', 'o', 'r', 'l', 'd']

### Generating a Range of Numbers with List Comprehension

In [5]:

num_list = [x for x in range(0,11)]
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[expression for item in iterable] <br>
the expression can be an simple or complex arithmetic operation perfomed on the item. example below:

In [6]:
#generate a list of intgers' squares for a given range.
num_list = [x**2 for x in range(0,11)]
num_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#the conventional way of doing above:
mylist = []
for x in range(0,11):
    mylist.append(x**2)
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List comprehension with if statement
[expression for item in iterable if condition]

In [9]:
#generate a list of integers and display only the even numbers within the range
num_list = [x for x in range(0,30) if x%2==0]
num_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#### performing a complex arithmetic operation on list comprehension expression

In [12]:
temp_c = [0,10,20,34.5]
temp_f = [((9/5)*cel+32) for cel in temp_c]

In [13]:
temp_f

[32.0, 50.0, 68.0, 94.1]

In [14]:
#same above operation with for loop
temp_f2 = []
temp_c2 = [0,10,20,34.5]
for c in temp_c2:
    temp_f2.append(((9/5)*c+32))
temp_f2

[32.0, 50.0, 68.0, 94.1]

### using if along with else in list comprehension
Considered not a good practice since it affects the readability of the code.
When required to use both, if and else, the order [expression for item in iterable if condition] is reversed i.e.

    [expression if condition else expression for item in iterable]

In [18]:
num_list = [x if x%2==0 else 'odd' for x in range(0,11)]
num_list

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [20]:
#even more complex one!
num_list = [f'{x} is even' if x%2==0 else f'{x} is odd' for x in range(0,11)]
num_list

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even']

### using nested loops in list comprehension
Again, not recommended as it affects the code readability

In [25]:
#first let's do a standard nested loop
num_list = []
for i in [2,4,6,8]:
    for j in [5,10,100]:
        num_list.append(i*j)
num_list

[10, 20, 200, 20, 40, 400, 30, 60, 600, 40, 80, 800]

In the code above, in each iteration, each item in first list (outer loop) gets multiplied by every item in second list (inner loop) i.e. first iterion: 2*5, 2*10, 2*100

In [30]:
#now using list comprehension
num_list = [i*j for i in [2,4,6,8] for j in [5,10,100]]
num_list

[10, 20, 200, 20, 40, 400, 30, 60, 600, 40, 80, 800]